.App {
  text-align: center;
}

.App-header {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Table {
  border: 5;
}

.Tr {
  align-items: center;
}

.Td {
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.Td2 {
  background-color: rgb(0, 183, 255);
  align-items: center;
}

.Td3 {
  background-color: rgb(0, 255, 13);
  align-items: center;
}
