.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Div-Top {
  background-color: rgb(30, 97, 42);
  width: 500px;
  height: 300px;
}

.Div-BtmLft {
  background-color: rgb(0, 183, 255);
  width: 250px;
  height: 300px;
  align-items: left;
}

.Div-BtmRgt {
  background-color: blue;
  width: 250px;
  height: 300px;
  align-items: right;
}
